@charset "UTF-8";

/* 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

body {
    font-family: 'NotoSans',sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}



/* header */

.header {

}

.header #gnb{
	display: flex;
	height: 50px;
	background-color: #555;
}

.header #gnb .left_gnb a {
	display: inline-block;
	padding-top: 15px;
	margin-left: 30px;
	color: white;
	font-size: 14px;
	font-weight: 600;
}

.header #gnb .left_gnb span {
	display: inline-block;
	padding-top: 15px;
	margin-left: 30px;
	color: white;
	font-size: 14px;
	font-weight: 600;
}

.header #gnb .right_gnb a {
	display: inline-block;
	padding-top: 15px;
	margin-right: 30px;
	color: white;
	font-size: 14px;
	font-weight: 600;
}

.header #gnb .right_gnb span {
	display: inline-block;
	padding-top: 15px;
	margin-right: 30px;
	color: white;
	font-size: 14px;
	font-weight: 600;
}

.header #gnb .right_gnb{
	margin-left: auto;
}

.header #gnb .right_gnb #logout_btn {
	color: #888;
}

.header .nav{
	height: 70px;
	background-color: #c1ecff;
}

.header .nav p{
	font-size: 3em;
	margin-left: 700px;
}



/* nav */

.nav {
	display: flex;
	justify-content: center; /* 자식요소 가운데정렬 */
	border: 1px solid #888;
}

.nav nav ul {
	display: flex;
	flex-direction: row; /* 자식요소 가로정렬 */
	margin: auto;
	list-style-type: none;
}

.nav nav ul li {
	padding: 15px 40px;
}

.nav nav ul li:hover {
	background-color: grey;
}

.nav nav ul li a {
	cursor: pointer;
	text-align: center;
	text-decoration: none; /* 밑줄제거 */
	font-size: 18px;
	font-weight: 800;
	color: black;
}



/* logo */

.logo{
	width: 400px;
	height : 150px;
	background-color: #d3d3d3;
	margin-top: 30px;
	margin-left: 650px;
}

.logo h1{
	text-align: center;
	padding-top: 50px;
}



.row h1 {
	text-align: center;
}



/* side_nav */

.side_nav {
	float: left;
	width: 15% !important; /* !important : CSS 의 최상위 우선권을 줌 */
	margin-top: 10px;
	margin-right: 30px;
	text-align: center;
}

.side_nav nav ul {
	height: 600px;
	border:none;
}

.side_nav nav ul li {
	background-color: #eee;
	border: 1px solid #ccc;
	list-style: none;
	display:block;
	text-align: center;
	cursor: pointer;
	width: 150px;
	padding: 40px 0;
	font-weight: 800;
}

.side_nav nav ul li:hover {
	background-color: grey;
}

.side_nav nav ul li a {
	font-size: 20px;
}



/* admin_container */

.admin_container {
	float: right;
	width: 80%;
	margin-right: 30px;
}



/* footer */

.footer {
	margin-top: 200px;
	background-color: #ccc;
	width: 100%;
	height: 350px;
	display: flex; /* flex 컨테이너 */
	flex-wrap: wrap; /* 가로 방향으로 넘치면 아래로 배치 */
	justify-content: space-evenly; /* 아이템 사이와 양끝 간격 균일 */
	align-items: flex-start; /* 위쪽 방향 우선 정렬 */
	font-size: 12px;
}



/* 첫번째 w 100% 자식 요소 */

.footer .footer_w100 {
	width: 100%;
	height: 100px;
}

.footer .footer_w100 .footer_w70 {
	margin: 25px auto;
	padding: 13px 0;
	width: 75%;
	height: 50px;
}

.footer .footer_w100 .footer_w70 a {
	margin: 0 30px;
	font-size: 14px;
	font-weight: 900;
}

.footer .footer_w100 .footer_w70 a:hover {
	border-bottom: 1.5px solid black;
	color: black;
	cursor: pointer;
}



/* 두번째 Left 자식 요소 */

.footer .footer_left {
	margin-bottom: 30px;
	width: 28%;
	height: 200px;
}

/* 두번째 right 자식 요소 */

.footer .footer_right {
	margin-bottom: 30px;
	width: 28%;
	height: 200px;
}





